.title {
  margin-bottom: 40px;
}

.cardContainer {
  margin-bottom: 30px;
  padding: 28px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;

  .subtitle {
    margin-bottom: 16px;
  }

  .row {
    width: 100%;
  }
}
